<!doctype html>
<html ng-app="app">
<head>
    <title>Kaggle Past Competitions</title>
    <meta charset="UTF-8">

    <link href="image/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="vendors/tablesort.css" />
</head>
<body ng-controller="MainController">
<a href="https://github.com/EliotAndres/kaggle-past-solutions">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png">
</a>
<div class="container-fluid theme-showcase" role="main">
    <div class="container">
        <div class="jumbotron">
            <h1>Kaggle Past Solutions</h1>
            <h4>Sortable and searchable compilation of solutions to past Kaggle competitions.</h4>
            <p>If you are facing a data science problem, there is a good chance that you can find inspiration here!<br/>
                This page could be improved by adding more competitions and more solutions: pull requests are more than welcome. <b>Warning: this is a work in progress, many competitions are missing solutions. </b> </p>
            <p></p>
            <p>
                <iframe
                        src="https://ghbtns.com/github-btn.html?user=EliotAndres&repo=kaggle-past-solutions&type=star&count=true"
                        frameborder="0"
                        scrolling="0"
                        width="170px"
                        height="20px">
                </iframe>
                <iframe
                        src="https://ghbtns.com/github-btn.html?user=EliotAndres&repo=kaggle-past-solutions&type=fork&count=true"
                        frameborder="0"
                        scrolling="0"
                        width="170px"
                        height="20px">
                </iframe>
            </p>
            <h6>If you find a mistake please report it <a target="_blank" href="https://github.com/EliotAndres/kaggle-past-solutions/issues">here</a></h6>
        </div>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <input ng-model="search.$" class="form-control" id="search" placeholder="Search">
        </div>
    </form>
    <div class="row" style="overflow: scroll">
        <table class="table" ts-wrapper>
            <thead>
            <tr>
                <th></th>
                <th ts-criteria="competitionTitle|lowercase">Competition</th>
                <th>Solutions, interviews and articles</th>
				<th ts-criteria="deadline|parseDate" ts-default="descending" style="min-width: 100px;">Deadline</th>
                <th ts-criteria="types" >Type</th>
                <th ts-criteria="evaluationMetric" style="min-width: 100px;">Evaluation</th>
                <th ts-criteria="rewardQuantity | parseFloat" style="min-width: 100px;">Reward</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="competition in competitions | filter:search:strict" ts-repeat>
                <td>
                    <a target="_blank" ng-href="https://www.kaggle.com{{competition.competitionUrl}}">
                        <img ng-src="{{competition.thumbnailImageUrl}}" alt="Logo" width="100"/>
                    </a>
                </td>
                <td style='max-width: 300px;'>
                    <h4><a target="_blank" ng-href="https://www.kaggle.com{{competition.competitionUrl}}">{{competition.competitionTitle}}</a></h4>
                    <p>{{competition.competitionDescription}}</p>
                </td>
                <td style="min-width: 300px;">
                    <p>
                        <a target="_blank" ng-href="https://www.kaggle.com{{competition.competitionUrl}}/forums">Forum</a>
                    </p>
                    <ul>
                        <li ng-repeat="solution in competition.solutions">
                            <a target="_blank" ng-href="{{solution.url}}">
                                {{solution.label}}
                            </a>
							<div class="solution-tags">{{solution.tags}}</div>
                        </li>
                    </ul>
                    <p ng-if="competition.repositories">Repositories</p>
                    <ul>
                        <li ng-repeat="repo in competition.repositories">
                            <a target="_blank" ng-href="{{repo.url}}">
                                {{repo.label}}
                            </a>
                        </li>
                    </ul>
                    <p ng-if="competition.interviews">Interviews</p>

                    <ul>
                        <li ng-repeat="interview in competition.interviews">
                            <a target="_blank" ng-href="{{interview.url}}">
                                {{interview.label}}
                            </a>
                        </li>
                    </ul>

                </td>

                <td>{{competition.deadline | date:'yyyy-MM-dd'}}</td>
                <td><span ng-repeat="type in competition.types">{{type}}{{$last ? '' : ', '}} </span></td>
                <td>{{competition.evaluationMetric}}</td>
                <td>{{competition.rewardDisplay || ('$' + competition.rewardQuantity)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="vendors/angular-tablesort.js"></script>
<script src="vendors/js-yaml.min.js"></script>
<script src="app.js"></script>
</body>
</html>
